


<a asp-action="Permission" asp-controller="student"  class="nav_link" >

    <i class="bx bx-check fa-stack-1x fa-inverse nav_icon" style="transform: scale(1.7);" title="Your permissions"></i>
    <span class="nav_name" >Permissions</span>
</a>

<a asp-action="Attendance" asp-controller="student" class="nav_link" >
    <i class="bx bx-file nav_icon" title="Your attendance"></i>
    <span class="nav_name" >Your Attendance</span>
</a>


<a asp-action="Schedules" asp-controller="student"  class="nav_link" >
    <i class="bx bx-table nav_icon" title="Your track schedules"></i>
    <span class="nav_name" >Schedule</span>
</a>