@model Attendance_Management_System.Models.ITIProgram

<h2>Create Program</h2>

<form asp-action="CreateProgram">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="ProgramIndex" class="btn btn-secondary">Back to List</a>
</form>
