@model Attendance_Management_System.Models.Track

<h2>Create Track</h2>

<form asp-action="CreateTrack">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive"></label>
        <input asp-for="IsActive" class="form-control" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProgramId"></label>
        <input asp-for="ProgramId" class="form-control" />
        <span asp-validation-for="ProgramId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupervisorId"></label>
        <input asp-for="SupervisorId" class="form-control" />
        <span asp-validation-for="SupervisorId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="TrackIndex" class="btn btn-secondary">Back to List</a>
</form>
