<div class="nav_list">
    <a href="@Url.Action("ProgramIndex", "Admin")" class="nav_link">

        <i class="fas fa-book"></i>

        <span class="nav_name">Program</span>
    </a>
</div>

<div class="nav_list">
    <a href="@Url.Action("TrackIndex", "Admin")" class="nav_link">

        <i class="far fa-calendar"></i>
        <span class="nav_name">Track</span>
    </a>
</div>

<div class="nav_list">
    <a href="@Url.Action("IntakeIndex", "Admin")" class="nav_link">
        @*  <i class="bx bx-user nav_icon"></i> *@
        <i class="fas fa-calendar"></i>

        <span class="nav_name">Intake</span>
    </a>
</div>

<div class="nav_list">
    <a href="@Url.Action("InstructorIndex", "Admin")" class="nav_link">

        <i class="fas fa-chalkboard-teacher"></i>

        <span class="nav_name">Instructor</span>
    </a>
</div>